body{
    background-color: #121212;
    color: #9e92b4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.preset-timers, .control-timers{
    margin:  20px auto;
}
.control-timers{
    margin-top: 7px;
}
.custom-timer{
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}
input{
    width: 25px;
}
button{
    background-color: rgb(78, 78, 78);
    color: #e6e6e6;
    font-weight: bold;
    font-size: 1.2rem;
    border-color: rgb(78, 78, 78);
    border-radius: 4px;
}
h1{
    font-size: 5rem;
    margin: auto ;
}
.timer{
    font-size: 6rem;
    margin: auto;
}